* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #F7F5F2; 
    margin: 0;
    padding: 0;
}

.kontener {
    width: 90%;
    border: 1px solid #4F4F4F; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 10px;
    height: auto;
    background-color: #FFFFFF; 
}

.main img {
    width: 80%;
    padding: 5px;
    border: 2px solid #C19A6B; 
    border-radius: 8px;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF; 
}

.flex {
    display: flex;
    justify-content: center;
}

.flex img {
    margin-right: 5px;
    width: 100%;
}

.nav {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    line-height: 12vh;
    background-color: #6C9E6A; 
    border-radius: 10px;
    height: 100px;
    margin-top: 10px;
    margin-left: 5px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.nav a {
    color: #FFFFFF; 
    padding: 10px;
    background-color: #DCEAF4; 
    border-radius: 20px;
    transition: background-color 0.3s ease;
    color: rgb(73, 63, 63);
}

.nav a:hover {
    background-color: #732626; 
    color: #F7F5F2; 
}

h1 {
    text-align: center;
    color: #4F4F4F; 
}

.nav-2{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    line-height: 10vh;
    background-color: #bebebe; 
    border-radius: 10px;
    height: 100px;
    margin-top: 10px;
    margin-left: 5px;
}
.nav-2 a {
    color: #FFFFFF; 
    padding: 10px;
    background-color: #e8eff5; 
    border-radius: 20px;
    transition: background-color 0.3s ease;
    color: rgb(73, 63, 63);
}
.nav-2 a:hover {
    background-color: #4b3636; 
    color: #F7F5F2; 
}
.main input, label{
    padding: 5px;
    margin: 5px;
}
.rejestracja{
    width: 70%;
    text-align: center;
}
table {
        border-collapse: separate; 
        border-spacing: 0;
        border-radius: 10px;
        overflow: hidden; 
}
table,td,th{
    border:1px solid black
}
td,th{
    padding: 5px;
}
table { 
 margin-bottom: 20px; 
}
button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: darkgray;
    color: black;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-bottom: 10px;
}
hr{
    width: 95%;
}
#danie{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#dodaj_stolik{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
th,td{
    text-align: center  ;
}
#rejestracja{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#propozycja{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#propozycja input{
    width: 20%;
    margin: 5px;
}
#rejestracja input{
    width: 20%;
    margin: 5px;
}

#stolik-lista-rezerwacji table {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#stolik-lista-rezerwacji{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 0px auto;
    text-align: center;
}
#stolik-lista-rezerwacji  th, td {
    border: 1px solid black;
    padding: 5px;
}
input{
    border:1px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: lightgreen;
    transform: scale(1.1);
}

input{
    transition:  transform 0.3s ease;
    margin: 5px;
}
input:hover{
    padding: 5px;
    transform: scale(1.1);
}